@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-Bold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-SemiBold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-Medium.otf') format('opentype');
    }
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-Regular.otf') format('opentype');
    }
}

.title {
    font-family: 'Inter_Display', sans-serif;
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
}

.gradient-text {
    background: linear-gradient(90.11deg, #F35E49 -33.71%, #F1AE43 25.24%, #B8C1F8 82.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}