@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-Bold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-SemiBold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-Medium.otf') format('opentype');
    }
    @font-face {
        font-family: 'Inter_Display';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/Inter-Display/InterDisplay-Regular.otf') format('opentype');
    }
}

.header-transition {
    transition: all 0.3s ease-in-out;
}

.mobile-menu-enter {
    transform: translateX(-100%);
    opacity: 0;
}

.mobile-menu-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease-out;
}

[x-cloak] {
    display: none;
}

.title {
    font-family: 'Inter_Display', sans-serif;
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
}

.gradient-text {
    background: linear-gradient(90.11deg, #F35E49 -33.71%, #F1AE43 25.24%, #B8C1F8 82.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}